/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    color: #002b36;
    background-color: #eee8d5;
}

.mono {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-size: 14px;
}

a {
    text-decoration: none;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-size: 14px;
    color: #002b36;
}

#wrapper {
    width: 100%;
    max-width: 700px;
    margin: auto;
    /* background-color: #e1d9be; */
}

/* Header */
header {
    padding: 6px 12px;
    display: grid;
    text-align: center;
}
header a {
    padding: 0px 5px;
}
#hero-section {
    height: 400px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#ratIcon {
    width: 100px;
    height: 100px;
    margin: 10px;
}

#ratIJvadeli {
    height: 250px;
    background-image: url(/img/ratijvadeli.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bento-grid {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-auto-flow: dense;
    gap: 4px;
}
.bento-section-primary {
  grid-column: span 3;
  grid-row: span 2;
}

.bento-section-secondary {
  grid-column: span 5;
  grid-row: span 2;
}
.bento-grid div {
    border: 2px solid #002b36;
    padding: 4px
}

footer {
    text-align: center;
}