/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: white;
  font-size: 14px;
  color: #0a0a0a;
}

.mono {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-size: 13px;
  color: #737373;
}

.greytext {
  color: #737373;
}
.greytext b {
  color: #0a0a0a;
}

.title-card {
    text-align: center;
    margin-bottom: 20px;
}

a {
  text-decoration: none;
  font-family: "IBM Plex Sans", sans-serif;
  /* font-family: "IBM Plex Mono", monospace; */
  font-size: 14px;
  color: #002fff;
  font-weight: 600;
  transition: 1s;
}

a:hover {
    color: #0a0a0a;
  transition: 1s;
}

hr {
  margin: 7px 0px;
  border: 0px;
  border-bottom: 1px solid #73737350;
}

h1,
h2,
h3,
h5,
h6 {
  color: #0a0a0a;
  font-weight: 500;
  font-size: 20px;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #5170ff;
}

#wrapper {
  width: 90%;
  max-width: 575px;
  margin: auto;
}

/* Header */
header {
  color: #737373;
  height: 50px;
  line-height: 50px;
  width: 100%;
}
header a {
  font-size: 13px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  color: #737373;
}
header a:hover {
  color: #0a0a0a;
}

#logo {
  /* background-image: url(/img/logo.gif);
  background-position: center;
  background-size: contain;
  width: 50px;
  height: 50px; */
  font-family: "IBM Plex Mono", monospace;
  letter-spacing: -1px;
  font-weight: 700;
  color: #0a0a0a;
  float: left;

}
#navlinks {
  float: right;
  word-spacing: 10px;
}
#hero-section {
  background-image: url(/img/banner.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 14px;
  height: 350px;
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  margin: 40px 0px;
}
.buttonOrange {
  color: #0a0a0a;
  font-weight: 600;
  display: flex;
  width: max-content;
  padding: 2px 10px;
  border-radius: 14px;
  font-size: 13px;
}
.buttonOrange:hover {
    background-color: #ff914d;
    color: #0a0a0a;
}
.buttonRegular {
  background-color: #00bf63;
  color: #0a0a0a;
  font-weight: 600;
  display: flex;
  width: max-content;
  padding: 2px 10px;
  border-radius: 14px;
  font-size: 13px;
}
.buttonRegular:hover {
    background-color: #00bf63;
    color: white;
}

#ratIcon {
  width: 100px;
  height: 100px;
  margin: 10px;
}

#img1 {
  background-image: url(/img/hills.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
#img2 {
  background-image: url(/img/ratijvadeli.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bento-grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-auto-flow: dense;
  gap: 8px;
}
.bento-section-tls {
  border-top-left-radius: 14px;
  grid-column: span 7;
  grid-row: span 2;
}

.bento-section-trw {
  border-top-right-radius: 14px;
  grid-column: span 5;
  grid-row: span 2;
}

.bento-section-6x2 {
  grid-column: span 6;
  grid-row: span 2;
}

.bento-section-4x4bl {
  grid-column: span 4;
  grid-row: span 4;
  border-bottom-left-radius: 14px;
}

.bento-section-4x4 {
  grid-column: span 4;
  grid-row: span 4;
}

.bento-section-4x4br {
  grid-column: span 4;
  grid-row: span 4;
  border-bottom-right-radius: 14px;
}

.bento-section-3x2 {
  grid-column: span 3;
  grid-row: span 2;
}
.bento-section-6x4 {
  grid-column: span 6;
  grid-row: span 4;
}

.bento-grid div {
  border: 1px solid #73737350;
  padding: 8px;
}

#projects {
    text-align: center;
    margin-top: 40px;
}
.project-item {
    margin-top: 20px;
    text-align: left;
}

footer {
  text-align: center;
}
